.login-wrapper {
	width: 100%;
	height: 100vh;
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: var(--off-white);
	gap: 1em;
}

.box {
	padding: 1em 0;
	background-color: var(--white);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1em;
	border: solid 1px var(--border-gray);
	min-width: 400px;
}

.logo {
	margin: 0 auto;
	font-size: 2rem;
}

.box > form {
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-direction: column;
	gap: 0.5em;
}

form > input {
	all: unset;
	width: 100%;
	cursor: text;
	background-color: var(--off-white);
	border: solid 1px var(--border-gray);
}

form > button {
	all: unset;
	cursor: pointer;
	text-align: center;
	background-color: var(--accent-blue);
	padding: 0.25em 0.75em;
	color: var(--white);
	border-radius: 8px;
}

.link {
    font-size: .75rem;
    cursor: pointer;
}

.navigate {
    color: var(--accent-blue);
    cursor: pointer;
}